<!DOCTYPE html>
<html>
<!-- ---------header calls-------- -->
<%- include('../partials/head.ejs')%>
<%- include('../partials/html_header.ejs')%>
<!-- --------end headers----------- -->
    <div>
        <h1>Edit Item</h1>
		<form id="edit" action="/store/<%=item._id%>?_method=PUT" method="POST">
        What do you call it?: <input type="text" name="name" value="<%=item.name%>"/><br />
        What's it do?: <input type="text" name="name" value="<%=item.description%>"/><br />
        How much?: <input type="number" name="price" value="<%=item.price%>"><br />
        How many?: <input type="number" name="qty" value="<%=item.qty%>"><br />
        What does it look like?: (image URL please) <input type="string" name="img" value="<%=item.img%>" /><br />
			<input type="submit" name="" value="Update Item" />
		</form>      
    </div>
  </body>
</html>