<!DOCTYPE html>
<html>
  <!-- ---------header calls-------- -->
<%- include('../partials/head.ejs')%>
<%- include('../partials/html_header.ejs')%>
<!-- --------end headers----------- -->
  <div>
    <h1>Mongoose Store</h1>
    <div id="show">
        <h2><%= item.name %></h2>
              <img src="<%=item.img%>"></a><br>          
        <span class='info'></span><%=item.description%><br>
        <%=item.price%><br>
        <%=item.quantity%><br>
        <a href="">BUY NOW</a><br>
        <a href="/store/<%=item._id%>/edit">Edit</a>
    </div>
  </body>
</html>