<!DOCTYPE html>
<html>
<!-----------header calls---------->
<%- include('../partials/head.ejs')%>
<%- include('../partials/html_header.ejs')%>
<!----------end headers------------>
  <head>
    <meta charset="utf-8" />
    <title>Mongoose Store</title>
  </head>
  <div>
    <div id="show">
        <h2><%= item.name %></h2>
        <img src="<%=item.img%>"></a><br>          
        <span class='info'></span><%=item.description%><br>
        <br>
        <span class="price">$<%=item.price%><br></span>
        <% if (item.qty < 1) {%>
          <span class="out">OUT OF STOCK</span>
        <%} else { %>
        <br>
        <span class="qty"><%=item.qty%> in stock!</span>
        <br>
        <input type="button" value="BUY NOW">
        <%}%>
        <a href="/store/<%=item._id%>/edit">Edit</a>
    </div>
  </body>
</html>